<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>startmenu</title>
    <link rel="stylesheet" href="/startmenu.css">
</head>
<body>
    <h1>welcome to the r6s randomizer</h1>
    <p>please select all the characters you have</p>
    <section id="attackers">
        <h2>Attackers</h2>
        <ul>
             <li><input type="checkbox" id="sledge"> <label for="sledge">Sledge</label></li>
             <li><input type="checkbox" id="thatcher"> <label for="thatcher">Thatcher</label></li>
             <li><input type="checkbox" id="ash"> <label for="ash">Ash</label></li>
             <li><input type="checkbox" id="thermite"> <label for="thermite">Thermite</label></li>
             <li><input type="checkbox" id="twitch"> <label for="twitch">Twitch</label></li>
             <li><input type="checkbox" id="montagne"> <label for="montagne">Montagne</label></li>
             <li><input type="checkbox" id="glaz"> <label for="glaz">Glaz</label></li>
             <li><input type="checkbox" id="fuze"> <label for="fuze">Fuze</label></li>
             <li><input type="checkbox" id="blitz"> <label for="blitz">Blitz</label></li>
             <li><input type="checkbox" id="iq"> <label for="iq">IQ</label></li>
             <li><input type="checkbox" id="buck"> <label for="buck">Buck</label></li>
             <li><input type="checkbox" id="blackbeard"> <label for="blackbeard">Blackbeard</label></li>
             <li><input type="checkbox" id="capitao"> <label for="capitao">Capitao</label></li>
             <li><input type="checkbox" id="hibana"> <label for="hibana">Hibana</label></li>
             <li><input type="checkbox" id="jackal"> <label for="jackal">Jackal</label></li>
             <li><input type="checkbox" id="ying"> <label for="ying">Ying</label></li>
             <li><input type="checkbox" id="zofia"> <label for="zofia">Zofia</label></li>
             <li><input type="checkbox" id="dokkaebi"> <label for="dokkaebi">Dokkaebi</label></li>
             <li><input type="checkbox" id="lion"> <label for="lion">Lion</label></li>
             <li><input type="checkbox" id="finka"> <label for="finka">Finka</label></li>
             <li><input type="checkbox" id="maverick"> <label for="maverick">Maverick</label></li>
             <li><input type="checkbox" id="nomad"> <label for="nomad">Nomad</label></li>
             <li><input type="checkbox" id="gridlock"> <label for="gridlock">Gridlock</label></li>
             <li><input type="checkbox" id="nokk"> <label for="nokk">Nøkk</label></li>
             <li><input type="checkbox" id="amaru"> <label for="amaru">Amaru</label></li>
             <li><input type="checkbox" id="kali"> <label for="kali">Kali</label></li>
             <li><input type="checkbox" id="iana"> <label for="iana">Iana</label></li>
             <li><input type="checkbox" id="ace"> <label for="ace">Ace</label></li>
             <li><input type="checkbox" id="zero"> <label for="zero">Zero</label></li>
             <li><input type="checkbox" id="flores"> <label for="flores">Flores</label></li>
             <li><input type="checkbox" id="osa"> <label for="osa">Osa</label></li>
             <li><input type="checkbox" id="sens"> <label for="sens">Sens</label></li>
             <li><input type="checkbox" id="grim"> <label for="grim">Grim</label></li>
             <li><input type="checkbox" id="brava"> <label for="brava">Brava</label></li>
             <li><input type="checkbox" id="ram"> <label for="ram">Ram</label></li>
             <li><input type="checkbox" id="tubarao"> <label for="tubarao">Tubarao</label></li>
             <li><input type="checkbox" id="deimos"> <label for="deimos">Deimos</label></li>
             <li><input type="checkbox" id="recruit_attacker"> <label for="recruit_attacker">Recruit</label></li>
        </ul>
    </section>
    <section id="defenders">
        <h2>Defenders</h2>
        <ul>
    <li><input type="checkbox" id="smoke"> <label for="smoke">Smoke</label></li>
    <li><input type="checkbox" id="mute"> <label for="mute">Mute</label></li>
    <li><input type="checkbox" id="castle"> <label for="castle">Castle</label></li>
    <li><input type="checkbox" id="pulse"> <label for="pulse">Pulse</label></li>
    <li><input type="checkbox" id="doc"> <label for="doc">Doc</label></li>
    <li><input type="checkbox" id="rook"> <label for="rook">Rook</label></li>
    <li><input type="checkbox" id="kapkan"> <label for="kapkan">Kapkan</label></li>
    <li><input type="checkbox" id="tachanka"> <label for="tachanka">Tachanka</label></li>
    <li><input type="checkbox" id="jager"> <label for="jager">Jäger</label></li>
    <li><input type="checkbox" id="bandit"> <label for="bandit">Bandit</label></li>
    <li><input type="checkbox" id="frost"> <label for="frost">Frost</label></li>
    <li><input type="checkbox" id="valkyrie"> <label for="valkyrie">Valkyrie</label></li>
    <li><input type="checkbox" id="caveira"> <label for="caveira">Caveira</label></li>
    <li><input type="checkbox" id="echo"> <label for="echo">Echo</label></li>
    <li><input type="checkbox" id="mira"> <label for="mira">Mira</label></li>
    <li><input type="checkbox" id="lesion"> <label for="lesion">Lesion</label></li>
    <li><input type="checkbox" id="ela"> <label for="ela">Ela</label></li>
    <li><input type="checkbox" id="vigil"> <label for="vigil">Vigil</label></li>
    <li><input type="checkbox" id="maestro"> <label for="maestro">Maestro</label></li>
    <li><input type="checkbox" id="alibi"> <label for="alibi">Alibi</label></li>
    <li><input type="checkbox" id="clash"> <label for="clash">Clash</label></li>
    <li><input type="checkbox" id="kaid"> <label for="kaid">Kaid</label></li>
    <li><input type="checkbox" id="mozzie"> <label for="mozzie">Mozzie</label></li>
    <li><input type="checkbox" id="warden"> <label for="warden">Warden</label></li>
    <li><input type="checkbox" id="goyo"> <label for="goyo">Goyo</label></li>
    <li><input type="checkbox" id="wamai"> <label for="wamai">Wamai</label></li>
    <li><input type="checkbox" id="oryx"> <label for="oryx">Oryx</label></li>
    <li><input type="checkbox" id="melusi"> <label for="melusi">Melusi</label></li>
    <li><input type="checkbox" id="aruni"> <label for="aruni">Aruni</label></li>
    <li><input type="checkbox" id="thunderbird"> <label for="thunderbird">Thunderbird</label></li>
    <li><input type="checkbox" id="thorn"> <label for="thorn">Thorn</label></li>
    <li><input type="checkbox" id="azami"> <label for="azami">Azami</label></li>
    <li><input type="checkbox" id="solis"> <label for="solis">Solis</label></li>
    <li><input type="checkbox" id="fenrir"> <label for="fenrir">Fenrir</label></li>
    <li><input type="checkbox" id="tubarao_def"> <label for="tubarao_def">Tubarao</label></li>
    <li><input type="checkbox" id="recruit_defender"> <label for="recruit_defender">Recruit</label></li>
            <!-- Add more defenders as needed -->
        </ul>
    </section>
    <button id="submit-selection">Submit Selection</button>
</body>

<script src="viewscripts/startcript.js"></script>